<!DOCTYPE html>
<html>
<head>
  <title>Evernote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#collapsible-nav"></button>
          <span class="sr-only">Display navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Evernote Clone (TODO: come up with better name)</a>
      </div>
      
      <div class="collapse navbar-collapse" id="collapsible-nav">
        <ul class="nav navbar-nav navbar-right">
          <%= render partial: "layouts/user_links" %>
        </ul>
      </div>
    </div>
  </nav>
  
  <%= render partial: "layouts/errors" %>
  
  <%= yield %>
  
</body>
</html>
