<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>The Purple Notes</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
        media="screen">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
        media="screen">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.2/js/epiceditor.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<%= yield :body || "<body>" %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#collapsible-nav">
          <span class="sr-only">Display navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">The Purple Notes: Your Notebook Replacement</span>
      </div>
      
      <div class="collapse navbar-collapse" id="collapsible-nav">
        <ul class="nav navbar-nav navbar-right">
          <%= render partial: "layouts/user_links" %>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
  
  <%= render partial: "layouts/errors" %>

  <%= yield %>
  
  </div>
</body>
</html>
